html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;#4A89C;
  background: #FFFFFF;
  padding: 0;
  display: flex;
  background: #F3F2F3;
}
.header {
  background: #4A89C9;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
}
.main-content{
  width: 100%;
  height: calc(100% - 50px);
  top: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: auto;
}
.button {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  width: 100%;
  user-select: none;
  background: #FFFFFF;
  color: #4A89C9;
  border:  2px #4A89C9 solid;
  transition: all .2s ease;
  } .button:hover {
  background: #4A89C9;
  color: #FFFFFF;
  border:  2px #4A89C9 solid;
  } .button:active {
  transform: scale(0.98, 0.98);
  } .button .disabled {
  background: #c0c0c0 !important;
  color: gray !important;
}
.box {
  width: 250px;
  height: auto;
  padding: 15px;
  position: relative;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
  margin: 20px 0 20px 0;
  background: #FFFFFF;
  align-self: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  animation: anim .35s ease-in-out;
  animation-fill-mode: backwards;
  } .box.disabled {
    display: none;
  } .box input[type="text"], .box input[type="password"] {
  height: 35px;
  width: 100%;
  margin: 0 0 15px 0;
  border-style: none;
  outline: none;
  } .box select {
  font-size: 20px;
  color: #4A89C9;
  outline: none;
  background: #FFFFFF;
  border: 2px #4A89C9 solid;
  border-style: none;
  border-radius: 5px;
  } .box h3 {
  margin: 10px 0 25px 0;
  user-select: none;
}
.navbar {
  list-style: none;
  height: 100%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  } .navbar li {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  user-select: none;
  flex-direction: column;
  cursor: pointer;;
  margin: 0 20px 0 0;
  color: #FFFFFF;
  } .navbar li.active {
  border-bottom: 3px #FFFFFF solid;
}
.loader {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(1px);
  position: relative;
  } .loader > div {
  position: relative;
  display: flex;
  align-self: center;
  width: 64px;
  height: 64px;
  padding: none;
  border-radius: 50%;
  background: #4A89C9;
  animation: loader 4.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes loader {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
@keyframes anim {
  0%   {opacity: 0; transform: scale(.5,.5); display:none;}
  100% {opacity: 1; transform: scale(1,1); display: flex;}
}
